<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="new">add a message</a>
    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
      <li style="list-style: none;">
        <div style="
          display: flex; 
          flex-direction: column; 
          padding: 30px 20px; 
          border: 1px solid black; 
          margin: 10px; 
          width: 20vw;"
        >
          <h3 style="margin-top: -10px;">
            User: <%= messages[i].user %>
          </h3>
          <p>
            Message:
            <%= messages[i].text %>
          </p>
          <small style="font-size: 10px;">
            <%= messages[i].added %>
          </small>
            
        </div>
      </li>
      <% } %>
  </ul>
  </body>
</html>
